* {
    font-family: "Inter", "Noto Sans", sans-serif;
    font-size: 12px;
}
#bar {
    background: rgba(10,10,12,0.6);
    backdrop-filter: blur(6px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 10px;
}
.module {
    padding: 0 10px;
    color: #e6eef6;
}
